$font-primary: 'Work Sans', sans-serif;
$color-primary:#025157;
$color-secondary:#ffd700;
$color-info: rgb(135, 206, 235);

$text-primary: rgb(2, 81, 87);
$text-secondary: rgb(70, 72, 76);
$page-background: rgb(255, 251, 247);
$base-primary: 2, 81, 87;