:root {
  font-family: 'Work Sans', sans-serif;
  --color-primary: #025157;
  --color-secondary: #ffd700;

  --text-primary: #025157;
  --text-secondary: #46484c;
  --page-background: #fffbf7;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--page-background);
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
h1,h2,h3,h4,h5,h6 {
  color: #46484c;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 1rem auto;
  border-bottom: 1px solid var(--color-primary);
  /* border-top: 1px solid var(--color-primary); */
}
.links {
  display: flex;
  justify-content: center;
  gap: 2;
  align-items: center;
}

p {
  color: var(--text-secondary);
  padding: 0.5rem;
}

.btn {
  background-color: var(--color-primary);
  color: white;
  padding: 0.5rem;
  border-radius: 20%;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* button {
  color: #fff;
  background-color: #025157;
} */

.form-control {
  display: inline-block;
  padding: 1rem;
}
.form-control > input[type="email"] {
  min-width: 200px;
}

form > button {
  display: inline-block;
}

.imagen {
  margin-top: 2rem;
  padding: 1em;
  border: var(--color-primary) dashed 2px;
  max-width: 500px;
}

.logo {
  max-width: 100px;
  vertical-align: middle;
}



ul {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  width: 75%;
  text-align: center;
  margin: 0 auto;
}


/* .links {
    width: 60%;
} */

.btn.subscribe {
  /* display: inline; */
  width: 10%;
}

li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 1em;
}

.contenedor-video {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  border-top: 1px dashed var(--color-primary);
  border-left: 1px dashed var(--color-primary);
  border-right: 1px dashed var(--color-primary);
  border-radius: 15%;
}

.contenedor-video > div {
  max-width: 35rem;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  align-content: start;
}

.contenedor-video > div img{
  margin-left: 130px;
}

.fixed-nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--page-background);
}

form > p {
  color: var(--text-primary);
  opacity: 0.7;
}

.section-2 {
  margin-bottom: 8rem;
  position: relative;
  width: 100%;
}

.waves {
  position: absolute;
  left: 0;
  bottom: -5rem;
  width: 100%;
  z-index: -1;
}

.contenedor-color {
  position: relative;
  top: -3rem;
  width: 100%;
  height: 100vh;
  background: var(--color-secondary);
}

